*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TOP SECTION */
#top{
    height: calc(100vh - 100px);
}


#top-section{
    display: flex;
    height: 100%;
}

#sidebar{
    width: 100px;
    background-color: red;
    overflow: auto;
}

#main-content{
    width: calc(100vw - 100px);
    background-color: rgba(37, 41, 88, 0.9);
    overflow-y: scroll;
}

#content{
    max-height: calc(100vh - 190px);
    overflow-y: auto;
}

.card{
    width: 100%;
    color: white;
}

.bars{
    display: none;
}

#sideplaylist{
    display: none;
}

#sideplaylist ul, h2, .newplaylist{
    margin-left: 20px;
    color: white;
    list-style: none;
    padding: 10px;
}

#sideplaylist li{
    padding: 5px;
}
/* classi icone */
.icons{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.topicons{
    width: 100%;
    height: 100%;
}

.icon-container{
    height: 80px;
    width: 80px;
    margin: 10px;
}

#sidebar img{
    width: 60%;
    margin-left: 15px;
}

.bottomicons .icon-container:last-child{
    border: 1px solid gray;
    border-radius: 50%;
    background-color: gray;
}
/* BOTTOM SECTION */
#bottom{
    width: 100%;
    height: 100px;
    background-color: rgb(88, 88, 88);
    position: relative;
    z-index: 1;
}

#bottom .container{
    height: 100%;
}

#bottom .row{
    height: 100%;
    justify-content: space-between;
}

#bottom .col{
    width: 100%;
    margin: 0px 20px;
    display: flex;
}

#bottom img{
    width: 50%;
    margin-bottom: 5px;
    height: 80%;
}

#bottom .card{
    color: white;
}

#bottom h4{
    color: gray;
}

#bottom .card i{
    margin-top: 10px ;
}

#player{
    font-size: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-end;
    color: white;
}

#volume{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.music{
    display: flex;
    align-self: center;
    flex-direction: column;
}

/* COMMON */
.container{
    width: 100%;
}

.row{
    display: flex;
}

.col{
    margin: 10px;
    height: auto;
}

/* HEADER */
header{
    position: relative;
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.6);
}

.hr-col{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

#upgrade a{
    color: white;
    text-decoration: none;
}

#upgrade{
    padding: 15px 60px;
    width: 300px;
    height: 50px;
    margin: 20px 10px;
    border: 2px solid white;
    border-radius: 30px;
}

/* Sezione centrale */
#filters .row{
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
}

#filters .card{
    font-size: 15px;
    color: lightgrey;
    text-align: center;
}

#music .row{
    flex-wrap: wrap;
    margin: 10px 0;
}

#content h2{
    font-size: 30px;
    margin-top: 30px;
    margin-left: 10px;
    color: white;
}

#content span{
    margin: 10px;
    color: gray;
}

#content h4{
    color: white;
    text-align: center;
}

#content h5{
    color: gray;
    text-align: center;
    margin-top: 7px;
}

.img-container{
    width: 100%;
}

img{
    width: 100%;
    margin: 10px 0;
}

#mostpopular img{
    border-radius: 50%;
}

/* COLUMN */
#filters .col{
    width:calc(100% / 4 - 20px);
}


#music .col{
    width:calc(100% / 2 - 20px);
}

#foryou .col{
    width:calc(100% / 2 - 20px);
}

#mostpopular .col{
    width:calc(100% / 2 - 20px);
}

/* MEDIA QUERY */
@media screen and (min-width: 768px){
    #sidebar{
        width: 300px;
    }

    #main-content {
        width: calc(100vw - 300px);
        overflow-y: scroll;
    }

    #filters .col{
        width:calc(100% / 3 - 20px);
    }

    .icon-container{
        display: flex;
        align-items: center;
    }

    .bars{
        display: block;
    }

    .bars h4{
        margin-left: 5px;
        width: 200px;
        font-size: 22px;
        color: white;
    }

    .bars h2{
        margin-left: 30px;
        width: 200px;
        font-size: 30px;
        color: white;
    }
    
    #sideplaylist{
        display: block;
    }
}

@media screen and (min-width: 992px){
    #filters .col{
        width:calc(100% / 5 - 20px);
    }
    
    #music .col{
        width:calc(100% / 4 - 20px);
    }

    #foryou .col{
        width:calc(50% / 2 - 20px)
    }

    #mostpopular .col{
        width:calc(50% / 2 - 20px)
    }
}

@media screen and (min-width: 1200px){
    #filters .col{
        width:calc(100% / 6 - 20px);
    }
    
    #music .col{
        width:calc(100% / 6 - 20px);
    }

    #foryou .col{
        width:calc(40% / 2 - 20px)
    }

    #mostpopular .col{
        width:calc(40% / 2 - 20px)
    }
}